
<footer class="footer mt-1">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                Build by <a href="https://dotnet.microsoft.com/" target="_blank">.NET5</a> & <a href="https://angular.io/" target="_blank">Angular 11</a> Run in docker
            </div>
            <div class="col-12 text-center">
                Made with <span class="text-danger">❤</span> by leo · Free Forever
            </div>
            <div class="col-12 text-center">
                &copy;@DateTime.Now.Year 
            </div>
        </div>
    </div>
</footer>