<!DOCTYPE html>

<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Windgram</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>
    <partial name="_HeaderPartial" />
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
                    <div class="nav flex-column nav-pills">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">个人资料</a>
                        <a class="nav-link" asp-controller="Home" asp-action="ChangePassword">更改密码</a>
                        <a class="nav-link" asp-controller="Home" asp-action="ExternalLogins">外部登录</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-9 col-xl-10">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>
    <partial name="_FooterPartial" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
