@model Windgram.Identity.STS.Models.Manage.ChangeUserNameViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{ ViewData["Title"] = Localizer["Title"];}

<h3>
    @Localizer["Title"]
</h3>
<p class="text-muted">
    @Localizer["Description", ViewData["CurrentUserName"]]
</p>

@await Html.PartialAsync("_ValidationSummary")

@await Html.PartialAsync("_StatusMessage", ViewData["StatusMessage"])

<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-7 col-xl-5">
        <form asp-action="UserName">

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">@Localizer["Submit"]</button>
                <a asp-action="Index" class="btn btn-link">@Localizer["Back"]</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
