
@{
    ViewData["Title"] = "Email Confirmed";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h4>邮箱验证成功</h4>

<p>
    感谢您的注册，去 @Html.ActionLink("登录", "Index", "Login", new { returnUrl = ViewData["ReturnUrl"] })
</p>