@using Windgram.Identity.STS.Models.Account;
@model EmailConfirmationViewModel;
@{
    ViewData["Title"] = "ConfirmEmailSendCode";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h4>邮箱待验证</h4>
<p>
    您的邮箱地址尚未验证，我们已经向您的邮箱发送了验证邮件，请查看邮件并点击激活链接！
</p>
<div>
    @await Html.PartialAsync("_StatusMessage", ViewData["StatusMessage"])
    <form asp-route="Index">
        <input type="hidden" asp-for="ReturnUrl" />
        <input type="hidden" asp-for="UserId" />
        <div class="form-group">
            未收到验证邮件？
            <button type="submit" class="btn btn-light" name="button" value="login">重新发送</button>
        </div>
        <div class="form-group">
            <a class="btn btn-link" asp-action="index" asp-controller="login">去登录</a>
        </div>
    </form>
</div>