@model Windgram.Identity.STS.Models.Account.ExternalLoginConfirmationViewModel

@{
    ViewData["Title"] = "绑定邮箱";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h4>绑定邮箱</h4>
<partial name="_ValidationSummary" />
<form asp-action="Confirmation">
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="注册" class="btn btn-primary btn-block" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
